@page "/Cart/Cart"
@using Model
@using Model.DataDB
@using Model.Dto
@using Model.Pay
@using Web_Client.Pages.Taikhoan
@using Web_Client.Services
@inject ICartService CartService
@inject ISanphamService sanphamService
@layout MainLayout
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@using System.Net.Mail
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="#">Sản phẩm</a>
                <span class="breadcrumb-item active">Giỏ hàng</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

@if (!orderPlaced)
{
    @if (cartItems == null || cartItems.Count == 0)
    {
        <h>Bạn chưa có sản phẩm nào trong giỏ hàng của bạn !</h>
    }
    else
    {
        <!-- Cart Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-12 table-responsive mb-5">
                    <table class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Màu - Size</th>
                                <th>Tổng tiền</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                        @foreach (var item in cartItems)
                        {
                            Soluong = item.Sl;
                            if (item.Thoigian.Date == DateTime.Now.Date || item.Thoigian.Date < DateTime.Now.Date)
                            {
                                
                                <tr>
                                    <td class="align-middle"><img src="@urlimage/images/@item.HaBia" alt="" style="width: 50px;"> @item.TenSp</td>
                                    <td class="align-middle">@sanphamService.FormatVND(item.GiaSp) VND</td>
                                    <td class="align-middle">
                                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                                
                                                    <button class="btn btn-sm btn-primary btn-minus" @onclick="(() => Minus(item.MaSp,item.MaGh,item.GiaSp,item.Sl))">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@Soluong">
                                                    <button class="btn btn-sm btn-primary btn-plus" @onclick="(() => Plus(item.MaSp,item.MaGh,item.GiaSp,item.Sl))">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                
                                            </div>
                                    </td>
                                    <td class="align-middle">@item.Ten_Mau - @item.Ten_Size</td>
                                    <td class="align-middle">@sanphamService.FormatVND((item.GiaSp * item.Sl)) VND</td>
                                    <td class="align-middle"><button class="btn btn-sm btn-danger" @onclick ="@(() => DeleteItem(item.MaSp,item.MaGh))"><i class="fa fa-times"></i></button></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="align-middle"><img src="@urlimage/images/@item.HaBia" alt="" style="width: 50px;"> @item.TenSp</td>
                                    <td class="align-middle">@sanphamService.FormatVND(item.GiaSp - (item.GiaSp * item.Tile)) VND</td>
                                    <td class="align-middle">
                                        <div class="input-group quantity mx-auto" style="width: 100px;">
                                                
                                                    <button class="btn btn-sm btn-primary btn-minus" @onclick="(() => Minus(item.MaSp,item.MaGh,item.GiaSp,item.Sl))">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@Soluong">
                                                

                                                    <button class="btn btn-sm btn-primary btn-plus" @onclick="(() => Plus(item.MaSp,item.MaGh,item.GiaSp,item.Sl))">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                
                                            </div>
                                    </td>
                                    <td class="align-middle">@item.Ten_Mau - @item.Ten_Size</td>
                                    <td class="align-middle">@sanphamService.FormatVND((item.GiaSp - (item.GiaSp * item.Tile)) * item.Sl) VND</td>
                                    <td class="align-middle"><button class="btn btn-sm btn-danger" @onclick ="@(() => DeleteItem(item.MaSp,item.MaGh))"><i class="fa fa-times"></i></button></td>
                                </tr>
                                
                            }
                            
                        }
                    </tbody>
                    </table>
                </div>
                   <div class="row px-xl-3 ">

                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thông tin thanh toán</span></h5>
                    <div class="bg-light p-30 mb-5">
                              <div class="border-bottom pb-2">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h6>Chưa VAT</h6>
                                        <h6>@sanphamService.FormatVND(Convert.ToInt32(giohang.Tongtien / (1+0.02))) VND</h6>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-medium">Phí VAT</h6>
                                        <h6 class="font-weight-medium">2%</h6>
                                    </div>
                                </div>
                                <div class="pt-2">

                                    <div class="d-flex justify-content-between mt-2">
                                        <h5>Tổng tiền</h5>
                                        <h5>(@cartItems.Count): @sanphamService.FormatVND(Convert.ToInt32(giohang.Tongtien)) VND</h5>
                                    </div>
                                    <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#pay" style="height: 65px; padding: 0 30px;">
                                        <h6 class="text-dark m-0" style="font-size:16px"><i class="fa-brands fa-cc-amazon-pay"></i> Chọn hình thức thanh toán</h6>
                                        <i class="fa fa-angle-down text-dark"></i>
                                    </a>
                                    <div class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="pay" style="width: 20%; z-index: 999; ">
                                        <button type="button" style="display: @display" class="nav-item nav-link" @onclick="@(() =>Pay(ModalSize.Medium,ModalPosition.TopCenter))">Thanh toán trước</button>
                                        <button type="button" style="display: @display1" class="nav-item nav-link" @onclick="@(() =>SendMail(ModalSize.Medium,ModalPosition.TopCenter))">Thanh toán khi nhận hàng</button>
                                        <button type="button" style="display: @display2" class="nav-item nav-link" @onclick="@(() =>Ivoice(ModalSize.ExtraLarge,ModalPosition.TopCenter))">Xem hóa đơn</button>
                                    </div>

                                </div>
                    </div>
                    </div>
             </div>
    </div>
        <!-- Cart End -->
    }

}

@code {
    private HubConnection hubConnection;
    string urlimage = "https://localhost:7268";
    bool orderPlaced = false;
    [Parameter]
    public UserIP userIP { get; set; }
    public List<CartItems> cartItems = new List<CartItems>();
    CartItems cart = new CartItems();
    public List<Khachhang> khachhangs = new List<Khachhang>();
    Khachhang khachhang = new Khachhang();
    KhachHangService khachHangService = new KhachHangService();

    DonDatDto dondatDto = new DonDatDto();
    List<DonDatDto> listDonDat = new List<DonDatDto>();
    DonDatService donDatService = new DonDatService();
    CtDonDatDto ctDonDatDto = new CtDonDatDto();
    CtDonDatService CtDonDatService = new CtDonDatService();

    Giohang giohang = new Giohang();
    GioHangDto gioHangDto = new GioHangDto();
    CTGioHangDto cTGioHangDto = new CTGioHangDto();

    GioHangService gioHangService = new GioHangService();
    CTGioHangService cTGioHangService = new CTGioHangService();

    TonkhoDto tonkho = new TonkhoDto();
    Sanpham_Model sanpham = new Sanpham_Model();
    TonkhoService tonkhoService = new TonkhoService();

    KhuyenMaiDto khuyenmai = new KhuyenMaiDto();

    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    int temp;
    private string display = "block;";
    private string display1 = "block;";
    private string display2 = "none;";
    private string Message { get; set; } = "";
    bool flag = false;
    bool flagIvoice = false;
    private int CountDonDat { get; set; }
    private int MaDonDat { get; set; }
    private int Soluong;
    InputNumber<int> sl1 ;
    [Parameter] public EventCallback OnChangeEvent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        try
        {
            await sessionStorage.SetItemAsync<string>("checkCart", "0");
            //Create Dondat
            listDonDat = await donDatService.GetCountDonDat();
            CountDonDat = listDonDat.Count;
            MaDonDat = CountDonDat + 1;
            ///Load Cart
            var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
            if (makhachhang != null)
            {
                string temp = "GH" + makhachhang;
                cartItems = await cTGioHangService.GetCartAllInUser(temp);
                giohang = await gioHangService.GetDetail(temp);

                hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
                .Build();

                await hubConnection.StartAsync();
            }

            else
            {
                var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
                string tempCreate = "GH" + ma_khCreate;
                cartItems = await cTGioHangService.GetCartAllInUser(tempCreate);
                giohang = await gioHangService.GetDetail(tempCreate);

                hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
                .Build();

                await hubConnection.StartAsync();
            }


            var checkdisplay = await sessionStorage.GetItemAsync<string>("display");
            if (checkdisplay == "block;")
            {
                display = checkdisplay;
                display1 = checkdisplay;
            }
            var getvnpcheck = await sessionStorage.GetItemAsync<string>("vnpcheckcode_true");

            if(firstRender)
            {
                if (getvnpcheck == "00")
                {
                    await sessionStorage.RemoveItemAsync("vnpcheckcode_true");
                    toastService.ShowSuccess("Thanh toán thành công", "Thông báo");
                    await AddDonDat();
                }
            }
        }
        catch (Exception ex)
        {
            Console.Write(ex.ToString());
        }
    }
    protected override async Task OnInitializedAsync()

    {
        try 
        {

            await sessionStorage.SetItemAsync<string>("checkCart", "0");
            //Create Dondat
            listDonDat = await donDatService.GetCountDonDat();
            CountDonDat = listDonDat.Count;
            MaDonDat = CountDonDat + 1;
            ///Load Cart
            var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
            if(makhachhang != null)
            {
                string temp = "GH" + makhachhang;
                cartItems = await cTGioHangService.GetCartAllInUser(temp);
                giohang = await gioHangService.GetDetail(temp);

                hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
                .Build();

                await hubConnection.StartAsync();
            }

            else
            {
                var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
                string tempCreate = "GH" + ma_khCreate;
                cartItems = await cTGioHangService.GetCartAllInUser(tempCreate);
                giohang = await gioHangService.GetDetail(tempCreate);

                hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/broadcastHub"))
                .Build();

                await hubConnection.StartAsync();
            }
        }
        catch (Exception ex) {
            Console.Write(ex.ToString());
        }
    }

    private async Task DeleteItem(string id, string id1)
    {
        try
        {
            var result = await gioHangService.GetDetail(id1);
            var sanpham = await sanphamService.GetProduct(id);
            var getCTGH = await cTGioHangService.GetID(id, id1);//loi
            if (sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
            {
                gioHangDto.MaGh = id1;
                gioHangDto.MaKh = result.MaKh;
                gioHangDto.Ngaydat = DateTime.Now;
                gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien - (sanpham.GiaSp * getCTGH.Sl) - (sanpham.GiaSp * getCTGH.Sl * 0.02));
                await gioHangService.Edit(id1, gioHangDto);
            }
            else
            {
                gioHangDto.MaGh = id1;
                gioHangDto.MaKh = result.MaKh;
                gioHangDto.Ngaydat = DateTime.Now;
                gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien - ((sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)) * getCTGH.Sl) - ((sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)) * getCTGH.Sl)*0.02);
                await gioHangService.Edit(id1, gioHangDto);
            }
            await cTGioHangService.DeleteCart(id, id1);
            cartItems = await cTGioHangService.GetCartAllInUser(id1);
            NavigationManager.NavigateTo("/");
            NavigationManager.NavigateTo("/Cart/Cart");
            toastService.ShowSuccess("Xóa thành công", "Thành công");
        }
        catch(Exception ex)
        {

        }


    }

    private async Task PlaceOrder()
    {

    }
    public async void Ivoice(ModalSize size, ModalPosition position)
    {
        display = "none;";
        display1 = "none;";
        display2 = "none;";
        var options = new ModalOptions { Size = size, Position = position, HideCloseButton = true,DisableBackgroundCancel = true  };
        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size";
        if (position == ModalPosition.Custom)
            options.PositionCustomClass = "my-custom-position";
        Modal.Show<Ivoice>("Hóa đơn của bạn ",options);
    }

    private async Task AddDonDat()
    {
        var name_khCreate = await sessionStorage.GetItemAsync<string>("ten_kh1");
        var name_khLogin = await sessionStorage.GetItemAsync<string>("ten_kh");
        var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
        var ma_khLogin = await sessionStorage.GetItemAsync<string>("ma_khachhang");

        if(ma_khLogin != null)
        {
            var id = "GH" + ma_khLogin;
            foreach (var item in cartItems)
            {
                ///check khuyen mai
                var result_km = await gioHangService.GetDetail(id);
                var sanpham = await sanphamService.GetProduct(item.MaSp);
                var getCTGH = await cTGioHangService.GetID(item.MaSp, id);//loi
                khachhang = await khachHangService.GetKhachHang(ma_khLogin);
                dondatDto.MaDdh = ("DDH" + MaDonDat).ToString();
                dondatDto.TongDdh = result_km.Tongtien;
                dondatDto.Diachi = khachhang.DiachiKh;
                dondatDto.MaKh = ma_khLogin; //khachhang
                dondatDto.Thoigian = DateTime.Now;
                dondatDto.TinhTrang = "chua hoan thanh";
                await donDatService.CreateDonDat(dondatDto);
                //chi tiet don dat hang
                ctDonDatDto.MaDdh = dondatDto.MaDdh;
                ctDonDatDto.MaSp = item.MaSp;
                ctDonDatDto.Sl = getCTGH.Sl;
                ctDonDatDto.Mau = item.Ten_Mau;
                ctDonDatDto.Size = item.Ten_Size;
                ctDonDatDto.DanhGia = 0;
                if (sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
                    ctDonDatDto.Dg = Convert.ToInt32((getCTGH.Sl * sanpham.GiaSp) + (getCTGH.Sl * sanpham.GiaSp)*0.02);
                else
                    ctDonDatDto.Dg = Convert.ToInt32((getCTGH.Sl * (sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile))) + (getCTGH.Sl * (sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile))*0.02));
                await CtDonDatService.CreateCtdonDat(ctDonDatDto);
                await DeleteItemByDDH(item.MaSp, id);
                ///Tonkho
                try
                {
                    sanpham = await sanphamService.GetProduct(item.MaSp);
                    tonkho = await tonkhoService.GetTonkho(item.MaSp);
                    if (tonkho != null)
                    {
                        var result = await tonkhoService.GetTonkho(item.MaSp);
                        tonkho.MaSp = result.MaSp;
                        tonkho.MaCh = result.MaCh;
                        tonkho.Sl = result.Sl - getCTGH.Sl;
                        //if(sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
                        tonkho.Dg = (result.Sl - getCTGH.Sl) * sanpham.GiaSp;
                        //tonkho.Dg = Convert.ToInt32((result.Sl - getCTGH.Sl) * (sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)));
                        await tonkhoService.EditTonkho(item.MaSp, result.MaCh, tonkho);
                    }
                }
                catch (Exception ex)
                {
                    tonkho.MaSp = item.MaSp;
                    tonkho.MaCh = "CH01";
                    tonkho.Sl = sanpham.Sl - item.Sl;
                    tonkho.Dg = (sanpham.Sl - item.Sl) * item.GiaSp;
                    await tonkhoService.CreateTonkho(tonkho);
                }
            }

        }
        else if (ma_khCreate != null)
        {
            var id = "GH" + ma_khCreate;
            foreach (var item in cartItems)
            {
                ///check khuyen mai
                var result_km = await gioHangService.GetDetail(id);
                var sanpham = await sanphamService.GetProduct(item.MaSp);
                var getCTGH = await cTGioHangService.GetID(item.MaSp, id);//loi
                khachhang = await khachHangService.GetKhachHang(ma_khCreate);
                dondatDto.MaDdh = ("DDH" + MaDonDat).ToString();
                dondatDto.TongDdh = result_km.Tongtien;
                dondatDto.Diachi = khachhang.DiachiKh;
                dondatDto.MaKh = ma_khCreate; //khachhang
                dondatDto.Thoigian = DateTime.Now;
                dondatDto.TinhTrang = "chua hoan thanh";
                await donDatService.CreateDonDat(dondatDto);
                //chi tiet don dat hang
                ctDonDatDto.MaDdh = dondatDto.MaDdh;
                ctDonDatDto.MaSp = item.MaSp;
                ctDonDatDto.Sl = getCTGH.Sl;
                ctDonDatDto.Mau = item.Ten_Mau;
                ctDonDatDto.Size = item.Ten_Size;
                ctDonDatDto.DanhGia = 0;
                if (sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
                    ctDonDatDto.Dg = Convert.ToInt32(getCTGH.Sl * (sanpham.GiaSp /*-(sanpham.GiaSp*sanpham.Tile)*/));
                else
                    ctDonDatDto.Dg = Convert.ToInt32(getCTGH.Sl * (sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)));
                await CtDonDatService.CreateCtdonDat(ctDonDatDto);
                await DeleteItemByDDH(item.MaSp, id);
                ///Tonkho
                try
                {
                    sanpham = await sanphamService.GetProduct(item.MaSp);
                    tonkho = await tonkhoService.GetTonkho(item.MaSp);
                    if (tonkho != null)
                    {
                        var result = await tonkhoService.GetTonkho(item.MaSp);
                        tonkho.MaSp = result.MaSp;
                        tonkho.MaCh = result.MaCh;
                        tonkho.Sl = result.Sl - getCTGH.Sl;
                        if (sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
                            tonkho.Dg = (result.Sl - getCTGH.Sl) * sanpham.GiaSp;
                        else
                            tonkho.Dg = Convert.ToInt32((result.Sl - getCTGH.Sl) * (sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)));
                        await tonkhoService.EditTonkho(item.MaSp, result.MaCh, tonkho);
                    }
                }
                catch (Exception ex)
                {
                    tonkho.MaSp = item.MaSp;
                    tonkho.MaCh = "CH01";
                    tonkho.Sl = sanpham.Sl - item.Sl;
                    tonkho.Dg = (sanpham.Sl - item.Sl) * item.GiaSp;
                    await tonkhoService.CreateTonkho(tonkho);
                }
            }

        }


    }
    public async void Pay(ModalSize size, ModalPosition position)
    {
        display = "none;";
        display1 = "none;";
        var options = new ModalOptions { Size = size, Position = position, DisableBackgroundCancel = true, HideCloseButton = true };
        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size";
        if (position == ModalPosition.Custom)
            options.PositionCustomClass = "my-custom-position";
        Modal.Show<CheckInforPay>("Kiểm tra và chỉnh sửa thông tin", options);

    }
    public async void SendMail(ModalSize size, ModalPosition position)
    {
        display = "none;";
        display1 = "none;";
        var options = new ModalOptions { Size = size, Position = position, DisableBackgroundCancel = true, HideCloseButton = true };
        if (size == ModalSize.Custom)
            options.SizeCustomClass = "my-custom-size";
        if (position == ModalPosition.Custom)
            options.PositionCustomClass = "my-custom-position";
        Modal.Show<CheckMail>("Kiểm tra và chỉnh sửa thông tin", options);
    }
    public async void CheckTonkho()
    {

    }
    private async Task DeleteItemByDDH(string id, string id1)
    {
        try
        {
            var result = await gioHangService.GetDetail(id1);
            var sanpham = await sanphamService.GetProduct(id);
            var getCTGH = await cTGioHangService.GetID(id, id1);//loi
            if (sanpham.Thoigian.Date == DateTime.Now.Date || sanpham.Thoigian.Date < DateTime.Now.Date)
            {
                gioHangDto.MaGh = id1;
                gioHangDto.MaKh = result.MaKh;
                gioHangDto.Ngaydat = DateTime.Now;
                gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien - (sanpham.GiaSp * getCTGH.Sl) - (sanpham.GiaSp * getCTGH.Sl * 0.02));
                await gioHangService.Edit(id1, gioHangDto);
            }
            else
            {
                gioHangDto.MaGh = id1;
                gioHangDto.MaKh = result.MaKh;
                gioHangDto.Ngaydat = DateTime.Now;
                gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien - ((sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)) * getCTGH.Sl) - ((sanpham.GiaSp - (sanpham.GiaSp * sanpham.Tile)) * getCTGH.Sl) * 0.02);
                await gioHangService.Edit(id1, gioHangDto);
            }
            await cTGioHangService.DeleteCart(id, id1);
            cartItems = await cTGioHangService.GetCartAllInUser(id1);
        }
        catch (Exception ex)
        {

        }


    }

    async Task Minus(string masp, string magh, int giatien, int soluong)
    {
        var result = await gioHangService.GetDetail(magh);
        gioHangDto.MaGh = result.MaGh;
        gioHangDto.Ngaydat = result.Ngaydat;
        gioHangDto.MaKh = result.MaKh;
        gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien - giatien - giatien*0.02);
        await gioHangService.Edit(magh, gioHangDto);
        StateHasChanged();
        ///
        var edit = await cTGioHangService.GetID(masp, magh);
        cTGioHangDto.MaGh = edit.MaGh;
        cTGioHangDto.MaSp = edit.MaSp;
        cTGioHangDto.Sl = edit.Sl - 1;
        cTGioHangDto.Size = edit.Size;
        cTGioHangDto.Mau = edit.Mau;
        await cTGioHangService.Edit(masp, magh, cTGioHangDto);
        cartItems = await cTGioHangService.GetCartAllInUser(magh);
        StateHasChanged();
    }
    async Task Plus(string masp, string magh, int giatien, int soluong)
    {
        var result = await gioHangService.GetDetail(magh);
        gioHangDto.MaGh = result.MaGh;
        gioHangDto.Ngaydat = result.Ngaydat;
        gioHangDto.MaKh = result.MaKh;
        gioHangDto.Tongtien = Convert.ToInt32(result.Tongtien + giatien + giatien*0.02);
        await gioHangService.Edit(magh, gioHangDto);
        StateHasChanged();
        ///
        var edit = await cTGioHangService.GetID(masp, magh);
        cTGioHangDto.MaGh = edit.MaGh;
        cTGioHangDto.MaSp = edit.MaSp;
        cTGioHangDto.Sl = edit.Sl + 1;
        cTGioHangDto.Size = edit.Size;
        cTGioHangDto.Mau = edit.Mau;
        await cTGioHangService.Edit(masp, magh, cTGioHangDto);
        cartItems = await cTGioHangService.GetCartAllInUser(magh);
        StateHasChanged();
    }
    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
    Task SendMessage() => hubConnection.SendAsync("SendMessage");
}