@page "/Cart/Ivoice/{id}"
@using Model
@using Model.DataDB
@using Model.Dto
@using Model.Pay
@using Web_Client.Pages.Taikhoan
@using Web_Client.Services

@inject IJSRuntime JS
@using System.Net.Mail
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService

@inject NavigationManager NavigationManager
@layout Layout_Ivoice



<table class="body-wrap">
    <tbody>
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="content-wrap aligncenter">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="content-block">
                                                    <h2>Cảm ơn bạn !</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block">
                                                    <table class="invoice">
                                                        <tbody>
                                                            <tr>
                                                                <td>@khachhang.TenKh<br>@khachhang.SdtKh<br>@DateTime.Now.Date.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            @foreach(var item in listCtDdh)
                                                                            {
                                                                                <tr>
                                                                                    <td>@item.TenSP</td>
                                                                                    <td class="alignright">@sanphamService.FormatVND(item.Dg) VND</td>
                                                                                </tr>
                                                                            }
                                                                            

                                                                            <tr class="total">
                                                                                <td class="alignright" width="80%">Tổng tiền</td>
                                                                                <td class="alignright">@sanphamService.FormatVND(Sum()) VND</td>
                                                                            </tr>
                                             
                                                                            <tr>
                                                                                @if (check)
                                                                                {
                                                                                    <td><button class="btn btn-sm btn-success" @onclick="Print"><i class="fa fa-print fa-2x"></i></button> </td>
                                                                                }
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public string Id { get; set; }
    bool check = true;
    public List<Khachhang> khachhangs = new List<Khachhang>();
    Khachhang khachhang = new Khachhang();
    KhachHangService khachHangService = new KhachHangService();

    Dondathang dondat = new Dondathang();
    DonDatDto dondatDto = new DonDatDto();
    List<DonDatDto> listDonDat = new List<DonDatDto>();
    DonDatService donDatService = new DonDatService();
    CtDonDatDto ctDonDatDto = new CtDonDatDto();
    List<CtddhDtoList> listCtDdh = new List<CtddhDtoList>();
    CtDonDatService CtDonDatService = new CtDonDatService();
    CtDdh chitietDDH = new CtDdh();

    Sanpham_Model sanpham = new Sanpham_Model();
    SanphamService sanphamService = new SanphamService();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var name_khLogin = await sessionStorage.GetItemAsync<string>("ten_kh");
        var makhachhang = await sessionStorage.GetItemAsync<string>("ma_khachhang");
        if (firstRender)
        {
            if (name_khLogin != null)
            {
                listCtDdh = await CtDonDatService.GetList(Id);
                khachhang = await khachHangService.GetKhachHang(makhachhang);
            }
            else
            {
                var name_khCreate = await sessionStorage.GetItemAsync<string>("ten_kh1");
                var ma_khCreate = await sessionStorage.GetItemAsync<string>("ma_khachhangCreate");
                listCtDdh = await CtDonDatService.GetList(Id);
                khachhang = await khachHangService.GetKhachHang(ma_khCreate);
            }
            StateHasChanged();
        }
    }


    private async Task Print()
    {
        check = false;
        await Task.Delay(1000);
        await JS.InvokeVoidAsync("printInvoke");
        check = true;
        await InvokeAsync(() => StateHasChanged());
    }
    private int Sum()
    {
        int tong = 0;
        foreach(var item in listCtDdh)
        {
            tong = listCtDdh.Where(d => d.MaDdh == item.MaDdh).Sum(d => d.Dg);
        }
        return tong;
    }

}
