@page "/BieuDo/doanhthu"
@layout MainLayout
@using System.Globalization
@using Model.DataDB
@using Model.Dto
@using Radzen.Blazor
@using Web_Admin_Client.Service
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IJSRuntime JS
@inject NavigationManager NavigationManager;

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-chart-areaspline"></i>
                </span> Biểu đồ doanh thu
            </h3>
        </div>
        <div class="row">
            <div class="col-sm-12 my-5">

                <RadzenText TextStyle="TextStyle.H6">Biểu đồ thống kê doanh thu theo tháng của năm</RadzenText>
                <div class="row px-3">
                    <div class="col-md-6 p-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn năm thống kê doanh thu</RadzenText>
                            <RadzenDropDown AllowClear="false" TValue="string" Class="w-100"
                                            Data=@(dondatList.Select(c => c.Thoigian.Year).Distinct())
                                            Change=@(args => OnChange_NamX(args)) />
                        </RadzenCard>
                    </div>
                    <div class="col-md-6 p-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn năm so sánh doanh thu</RadzenText>
                            <RadzenDropDown AllowClear="false" TValue="string" Class="w-100"
                                            Data=@(dondatList.Select(c => c.Thoigian.Year).Distinct())
                                            Change=@(args => OnChange_NamY(args)) />
                        </RadzenCard>
                    </div>
                </div>
                
               
                <RadzenChart>
                    <RadzenColumnSeries Data="@chartNamX" CategoryProperty="Thang" Title="@namX" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnSeries Data="@chartNamY" CategoryProperty="Thang" Title="@namY" ValueProperty="DoanhThu">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnOptions Radius="5" Width="20" />
                    <RadzenCategoryAxis Padding="20" />
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>
                <RadzenText TextStyle="TextStyle.H6">Biểu đồ thống kê doanh thu theo quý của năm</RadzenText>
                <div class="row px-3">
                    <div class="col-md-6 p-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn năm thống kê doanh thu</RadzenText>
                            <RadzenDropDown AllowClear="false" TValue="string" Class="w-100"
                                            Data=@(dondatList.Select(c => c.Thoigian.Year).Distinct())
                                            Change=@(args => OnChange_QuyNamX(args)) />
                        </RadzenCard>
                    </div>
                    <div class="col-md-6 p-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn năm so sánh doanh thu</RadzenText>
                            <RadzenDropDown AllowClear="false" TValue="string" Class="w-100"
                                            Data=@(dondatList.Select(c => c.Thoigian.Year).Distinct())
                                            Change=@(args => OnChange_QuyNamY(args)) />
                        </RadzenCard>
                    </div>
                </div>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartQuyX" CategoryProperty="Quy" Title="@namQuyX" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartQuyY" CategoryProperty="Quy" Title="@namQuyY" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>
                <RadzenText TextStyle="TextStyle.H6">Biểu đồ thống kê doanh thu theo ngày của tháng</RadzenText>
                <div class="row px-3">
                    <div class="col-md-6 p-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn tháng thống kê doanh thu</RadzenText>
                            <RadzenDropDown AllowClear="false" TValue="string" Class="w-100"
                                            Data=@(dondatList.Where(c=>c.Thoigian.Year == DateTime.Now.Year).Select(c => c.Thoigian.Month).Distinct())
                                            Change=@(args => OnChange_Ngay(args)) />
                        </RadzenCard>
                    </div>
                </div>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartNgay_Thang" CategoryProperty="Ngay" Title="@thang" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
</div>


@code {

    ColorScheme colorScheme = ColorScheme.Pastel;
    private ElementReference mouseMoveElement;
    private DotNetObjectReference<BieuDoDoanhThu>? selfReference;
    bool smooth = false;
    private DonDatDto dondathang = new DonDatDto();
    List<DonDatDto> dondatList = new List<DonDatDto>();
    DondathangService dondatService = new DondathangService();
    DoanhThuThang doanhThuThang = new DoanhThuThang();
    List<DoanhThuThang> doanhThuThangs = new List<DoanhThuThang>();
    DoanhThuNam doanhThuNam = new DoanhThuNam();
    List<DoanhThuNam> doanhThuNams = new List<DoanhThuNam>();
    DoanhThuQuy doanhThuQuy = new DoanhThuQuy();
    List<DoanhThuQuy> doanhThuQuys = new List<DoanhThuQuy>();
    DoanhThuService doanhThuService = new DoanhThuService();
    DoanhThuNgay doanhThuNgay = new DoanhThuNgay();
    List<DoanhThuNgay> doanhThuNgayList = new List<DoanhThuNgay>();

    private bool showDataLabels = false;
    private DonDatDto[]? temp;
    private DoanhThuNam[]? chartNamX;
    private DoanhThuNam[]? chartNamY;
    private DoanhThuThang[]? chartThang;
    private DoanhThuQuy[]? chartQuyX;
    private DoanhThuQuy[]? chartQuyY;
    private DoanhThuNgay[]? chartNgay_Thang;

    private string namX;
    private string namY;
    private string namQuyX;
    private string namQuyY;
    private string thang;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        dondatList = await dondatService.GetListAll();
    }

    async void OnChange_Ngay(object value)
    {
        var Thang = value is IEnumerable<string> ? string.Join(", ", (IEnumerable<string>)value) : value;
        thang = ("Tháng " + Thang).ToString();
        dondatList = await dondatService.GetListAll();
        foreach(var item in dondatList)
        {
            try
            {
                var result = await doanhThuService.GetDoanhThuNgayID(item.Thoigian.Day, Thang.ToString());
                if(result != null)
                {
                    doanhThuNgay.Id = result.Id;
                    doanhThuNgay.Ngay = result.Ngay;
                    doanhThuNgay.Thang = result.Thang;
                    doanhThuNgay.DoanhThu = result.DoanhThu + dondatList.Where(d=>d.Thoigian.Day == item.Thoigian.Day && d.Thoigian.Month == int.Parse(Thang.ToString()) && d.Thoigian.Year == DateTime.Now.Year).Sum(d=>d.TongDdh);
                    await doanhThuService.EditByTuan(result.Id, doanhThuNgay);
                    StateHasChanged();
                }
            }
            catch(Exception ex)
            {
                doanhThuNgay.Ngay = item.Thoigian.Day;
                doanhThuNgay.Thang = Thang.ToString();
                doanhThuNgay.DoanhThu = dondatList.Where(d => d.Thoigian.Day == item.Thoigian.Day && d.Thoigian.Month == int.Parse(Thang.ToString()) && d.Thoigian.Year == DateTime.Now.Year).Sum(d => d.TongDdh);
                await doanhThuService.CreateDoanhThu(doanhThuNgay);
                StateHasChanged();
            }
        }
        chartNgay_Thang = await doanhThuService.GetList(Thang.ToString());
        StateHasChanged();
    }
    string FormatAsVND(object value)
    {
        return ((double)value).ToString("#,###", CultureInfo.CreateSpecificCulture("vi-VN"));
    }
   
    async void OnChange_NamX(object value)
    {
        dondatList = await dondatService.GetListAll();
        var NamX = value is IEnumerable<int> ? string.Join(", ", (IEnumerable<int>)value) : value;
        namX = NamX.ToString();
        //thang 1 Nam X
        var thang1_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 1", Convert.ToInt32(NamX));
        if (thang1_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 1";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang1_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 1 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 1", Convert.ToInt32(NamX), thang1_NamX.Id, doanhThuNam);
        }
        //thang 2 nam X
        var thang2_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 2", Convert.ToInt32(NamX));
        if (thang2_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 2";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang2_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 2 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 2", Convert.ToInt32(NamX), thang2_NamX.Id, doanhThuNam);
        }
        //thang 3 nam X
        var thang3_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 3", Convert.ToInt32(NamX));
        if (thang3_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 3";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang3_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 3 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 3", Convert.ToInt32(NamX), thang3_NamX.Id, doanhThuNam);
        }
        //thang 4 nam X
        var thang4_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 4", Convert.ToInt32(NamX));
        if (thang4_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 4";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang4_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 4 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 4", Convert.ToInt32(NamX), thang4_NamX.Id, doanhThuNam);
        }
        //thang 5 nam X
        var thang5_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 5", Convert.ToInt32(NamX));
        if (thang5_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 5";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang5_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 5 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 5", Convert.ToInt32(NamX), thang5_NamX.Id, doanhThuNam);
        }
        //thang 6 nam X
        var thang6_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 6", Convert.ToInt32(NamX));
        if (thang6_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 6";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang6_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 6 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 6", Convert.ToInt32(NamX), thang6_NamX.Id, doanhThuNam);
        }
        //thang 7 nam X
        var thang7_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 7", Convert.ToInt32(NamX));
        if (thang7_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 7";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang7_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 7 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 7", Convert.ToInt32(NamX), thang7_NamX.Id, doanhThuNam);
        }
        //thang 8 nam X
        var thang8_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 8", Convert.ToInt32(NamX));
        if (thang8_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 8";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang8_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 8 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 8", Convert.ToInt32(NamX), thang8_NamX.Id, doanhThuNam);
        }
        //thang 9 nam X
        var thang9_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 9", Convert.ToInt32(NamX));
        if (thang9_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 9";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang9_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 9 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 9", Convert.ToInt32(NamX), thang9_NamX.Id, doanhThuNam);
        }
        //thang 10 nam X
        var thang10_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 10", Convert.ToInt32(NamX));
        if (thang10_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 10";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang10_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 10 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 10", Convert.ToInt32(NamX), thang10_NamX.Id, doanhThuNam);
        }
        //thang 11 nam X
        var thang11_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 11", Convert.ToInt32(NamX));
        if (thang11_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 11";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang11_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 11 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 11", Convert.ToInt32(NamX), thang11_NamX.Id, doanhThuNam);
        }
        //thang 12 nam X
        var thang12_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 12", Convert.ToInt32(NamX));
        if (thang12_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 12";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang12_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 12 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 12", Convert.ToInt32(NamX), thang12_NamX.Id, doanhThuNam);
        }
        chartNamX = await doanhThuService.GetDoanhThuNam(Convert.ToInt32(NamX));
        StateHasChanged();
    }
    async void OnChange_NamY(object value)
    {
        var NamX = value is IEnumerable<int> ? string.Join(", ", (IEnumerable<int>)value) : value;
        namY = NamX.ToString();
        //thang 1 Nam X
        var thang1_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 1", Convert.ToInt32(NamX));
        if (thang1_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 1";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang1_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 1 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 1", Convert.ToInt32(NamX), thang1_NamX.Id, doanhThuNam);
        }
        //thang 2 nam X
        var thang2_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 2", Convert.ToInt32(NamX));
        if (thang2_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 2";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang2_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 2 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 2", Convert.ToInt32(NamX), thang2_NamX.Id, doanhThuNam);
        }
        //thang 3 nam X
        var thang3_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 3", Convert.ToInt32(NamX));
        if (thang3_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 3";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang3_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 3 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 3", Convert.ToInt32(NamX), thang3_NamX.Id, doanhThuNam);
        }
        //thang 4 nam X
        var thang4_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 4", Convert.ToInt32(NamX));
        if (thang4_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 4";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang4_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 4 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 4", Convert.ToInt32(NamX), thang4_NamX.Id, doanhThuNam);
        }
        //thang 5 nam X
        var thang5_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 5", Convert.ToInt32(NamX));
        if (thang5_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 5";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang5_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 5 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 5", Convert.ToInt32(NamX), thang5_NamX.Id, doanhThuNam);
        }
        //thang 6 nam X
        var thang6_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 6", Convert.ToInt32(NamX));
        if (thang6_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 6";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang6_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 6 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 6", Convert.ToInt32(NamX), thang6_NamX.Id, doanhThuNam);
        }
        //thang 7 nam X
        var thang7_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 7", Convert.ToInt32(NamX));
        if (thang7_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 7";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang7_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 7 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 7", Convert.ToInt32(NamX), thang7_NamX.Id, doanhThuNam);
        }
        //thang 8 nam X
        var thang8_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 8", Convert.ToInt32(NamX));
        if (thang8_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 8";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang8_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 8 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 8", Convert.ToInt32(NamX), thang8_NamX.Id, doanhThuNam);
        }
        //thang 9 nam X
        var thang9_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 9", Convert.ToInt32(NamX));
        if (thang9_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 9";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang9_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 9 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 9", Convert.ToInt32(NamX), thang9_NamX.Id, doanhThuNam);
        }
        //thang 10 nam X
        var thang10_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 10", Convert.ToInt32(NamX));
        if (thang10_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 10";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang10_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 10 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 10", Convert.ToInt32(NamX), thang10_NamX.Id, doanhThuNam);
        }
        //thang 11 nam X
        var thang11_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 11", Convert.ToInt32(NamX));
        if (thang11_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 11";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang11_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 11 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 11", Convert.ToInt32(NamX), thang11_NamX.Id, doanhThuNam);
        }
        //thang 12 nam X
        var thang12_NamX = await doanhThuService.GetDoanhThuNamByID("Tháng 12", Convert.ToInt32(NamX));
        if (thang12_NamX != null)
        {
            doanhThuNam.Thang = "Tháng 12";
            doanhThuNam.Nam = Convert.ToInt32(NamX);
            doanhThuNam.Id = thang12_NamX.Id;
            doanhThuNam.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 12 && temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByYear("Tháng 12", Convert.ToInt32(NamX), thang12_NamX.Id, doanhThuNam);
        }
        chartNamY = await doanhThuService.GetDoanhThuNam(Convert.ToInt32(NamX));
        StateHasChanged();
    }
    //Doanh thu quy
    async void OnChange_QuyNamX(object value)
    {
        var NamX = value is IEnumerable<int> ? string.Join(", ", (IEnumerable<int>)value) : value;
        namQuyX = NamX.ToString();
        var quy4 = await doanhThuService.GetDoanhThuQuyByID("Quý 4", Convert.ToInt32(NamX));
        if (quy4 != null)
        {
            doanhThuQuy.Id = quy4.Id;
            doanhThuQuy.Quy = quy4.Quy;
            doanhThuQuy.Nam = quy4.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 10 || temp.Thoigian.Month == 11 || temp.Thoigian.Month == 12).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy4.Id, quy4.Quy, quy4.Nam, doanhThuQuy);
        }
        //quy 3
        var quy3 = await doanhThuService.GetDoanhThuQuyByID("Quý 3", Convert.ToInt32(NamX));
        if (quy3 != null)
        {
            doanhThuQuy.Id = quy3.Id;
            doanhThuQuy.Quy = quy3.Quy;
            doanhThuQuy.Nam = quy3.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 7 || temp.Thoigian.Month == 8 || temp.Thoigian.Month == 9).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy3.Id, quy3.Quy, quy3.Nam, doanhThuQuy);
        }
        //quy 2
        var quy2 = await doanhThuService.GetDoanhThuQuyByID("Quý 2", Convert.ToInt32(NamX));
        if (quy2 != null)
        {
            doanhThuQuy.Id = quy2.Id;
            doanhThuQuy.Quy = quy2.Quy;
            doanhThuQuy.Nam = quy2.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 4 || temp.Thoigian.Month == 5 || temp.Thoigian.Month == 6).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy2.Id, quy2.Quy, quy2.Nam, doanhThuQuy);
        }
        //quy 1
        var quy1 = await doanhThuService.GetDoanhThuQuyByID("Quý 1", Convert.ToInt32(NamX));
        if (quy1 != null)
        {
            doanhThuQuy.Id = quy1.Id;
            doanhThuQuy.Quy = quy1.Quy;
            doanhThuQuy.Nam = quy1.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 1 || temp.Thoigian.Month == 2 || temp.Thoigian.Month == 3).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy1.Id, quy1.Quy, quy1.Nam, doanhThuQuy);
        }
        chartQuyX = await doanhThuService.GetDoanhThuQuy(Convert.ToInt32(NamX));
        StateHasChanged();
    }
    async void OnChange_QuyNamY(object value)
    {
        var NamX = value is IEnumerable<int> ? string.Join(", ", (IEnumerable<int>)value) : value;
        namQuyY = NamX.ToString();
        var quy4 = await doanhThuService.GetDoanhThuQuyByID("Quý 4", Convert.ToInt32(NamX));
        if (quy4 != null)
        {
            doanhThuQuy.Id = quy4.Id;
            doanhThuQuy.Quy = quy4.Quy;
            doanhThuQuy.Nam = quy4.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 10 || temp.Thoigian.Month == 11 || temp.Thoigian.Month == 12).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy4.Id, quy4.Quy, quy4.Nam, doanhThuQuy);
        }
        //quy 3
        var quy3 = await doanhThuService.GetDoanhThuQuyByID("Quý 3", Convert.ToInt32(NamX));
        if (quy3 != null)
        {
            doanhThuQuy.Id = quy3.Id;
            doanhThuQuy.Quy = quy3.Quy;
            doanhThuQuy.Nam = quy3.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 7 || temp.Thoigian.Month == 8 || temp.Thoigian.Month == 9).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy3.Id, quy3.Quy, quy3.Nam, doanhThuQuy);
        }
        //quy 2
        var quy2 = await doanhThuService.GetDoanhThuQuyByID("Quý 2", Convert.ToInt32(NamX));
        if (quy2 != null)
        {
            doanhThuQuy.Id = quy2.Id;
            doanhThuQuy.Quy = quy2.Quy;
            doanhThuQuy.Nam = quy2.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 4 || temp.Thoigian.Month == 5 || temp.Thoigian.Month == 6).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy2.Id, quy2.Quy, quy2.Nam, doanhThuQuy);
        }
        //quy 1
        var quy1 = await doanhThuService.GetDoanhThuQuyByID("Quý 1", Convert.ToInt32(NamX));
        if (quy1 != null)
        {
            doanhThuQuy.Id = quy1.Id;
            doanhThuQuy.Quy = quy1.Quy;
            doanhThuQuy.Nam = quy1.Nam;
            doanhThuQuy.DoanhThu = dondatList.Where(temp => temp.Thoigian.Month == 1 || temp.Thoigian.Month == 2 || temp.Thoigian.Month == 3).Where(temp => temp.Thoigian.Year == Convert.ToInt32(NamX)).Sum(temp => temp.TongDdh);
            await doanhThuService.EditByQuy(quy1.Id, quy1.Quy, quy1.Nam, doanhThuQuy);
        }
        chartQuyY = await doanhThuService.GetDoanhThuQuy(Convert.ToInt32(NamX));
        StateHasChanged();
    }
}