@page "/BieuDo/doanhthu"
@layout MainLayout
@using System.Globalization
@using Model.DataDB
@using Model.Dto
@using Radzen.Blazor
@using Web_Admin_Client.Service
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IJSRuntime JS
@inject NavigationManager NavigationManager;

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenText TextStyle="TextStyle.H6">Biểu đồ thống kê doanh thu theo năm</RadzenText>
                <RadzenChart>
                    <RadzenColumnSeries Data="@chartNamX" CategoryProperty="Thang" Title="2021" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnSeries Data="@chartNamY" CategoryProperty="Thang" Title="2022" ValueProperty="DoanhThu">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnOptions Radius="5" Width="20" />
                    <RadzenCategoryAxis Padding="20" />
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>
@*                <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H3" Class="my-4">
                    Radzen Blazor Chart column series
                </RadzenText>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartNamX" CategoryProperty="Thang" Title="2021" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartNamY" CategoryProperty="Thang" Title="2022" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>*@
                <RadzenText TextStyle="TextStyle.H6">Biểu đồ thống kê doanh thu theo quý</RadzenText>
                <RadzenChart>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartQuyX" CategoryProperty="Quy" Title="2021" LineType="LineType.Dashed" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smooth" Data="@chartQuyY" CategoryProperty="Quy" Title="2022" ValueProperty="DoanhThu">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    @*<RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />*@
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Doanh Thu (VND)" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
</div>


@code {
    private ElementReference mouseMoveElement;
    private DotNetObjectReference<BieuDoDoanhThu>? selfReference;
    bool smooth = false;
    private DonDatDto dondathang = new DonDatDto();
    List<DonDatDto> dondatList = new List<DonDatDto>();
    DondathangService dondatService = new DondathangService();
    DoanhThuThang doanhThuThang = new DoanhThuThang();
    List<DoanhThuThang> doanhThuThangs = new List<DoanhThuThang>();
    DoanhThuNam doanhThuNam = new DoanhThuNam();
    List<DoanhThuNam> doanhThuNams = new List<DoanhThuNam>();
    DoanhThuQuy doanhThuQuy = new DoanhThuQuy();
    List<DoanhThuQuy> doanhThuQuys = new List<DoanhThuQuy>();
    DoanhThuService doanhThuService = new DoanhThuService();

    private bool showDataLabels = false;
    private DonDatDto[]? temp;
    private DoanhThuNam[]? chartNamX;
    private DoanhThuNam[]? chartNamY;
    private DoanhThuThang[]? chartThang;
    private DoanhThuQuy[]? chartQuyX;
    private DoanhThuQuy[]? chartQuyY;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            dondatList = await dondatService.GetListAll();
            await CreateDoanhThuThang1_NamX();
            await CreateDoanhThuThang2_NamX();
            await CreateDoanhThuThang3_NamX();
            await CreateDoanhThuThang4_NamX();
            await CreateDoanhThuThang5_NamX();
            await CreateDoanhThuThang6_NamX();
            await CreateDoanhThuThang7_NamX();
            await CreateDoanhThuThang8_NamX();
            await CreateDoanhThuThang9_NamX();
            await CreateDoanhThuThang10_NamX();
            await CreateDoanhThuThang11_NamX();
            await CreateDoanhThuThang12_NamX();
            await CreateDoanhThuThang1_NamY();
            await CreateDoanhThuThang2_NamY();
            await CreateDoanhThuThang3_NamY();
            await CreateDoanhThuThang4_NamY();
            await CreateDoanhThuThang5_NamY();
            await CreateDoanhThuThang6_NamY();
            await CreateDoanhThuThang7_NamY();
            await CreateDoanhThuThang8_NamY();
            await CreateDoanhThuThang9_NamY();
            await CreateDoanhThuThang10_NamY();
            await CreateDoanhThuThang11_NamY();
            await CreateDoanhThuThang12_NamY();
            //Doanh thu quy
            await CreateDoanhThuQuy1_NamX();
            await CreateDoanhThuQuy2_NamX();
            await CreateDoanhThuQuy3_NamX();
            await CreateDoanhThuQuy4_NamX();

            await CreateDoanhThuQuy1_NamY();
            await CreateDoanhThuQuy2_NamY();
            await CreateDoanhThuQuy3_NamY();
            await CreateDoanhThuQuy4_NamY();


            chartNamX = await doanhThuService.GetDoanhThuNam(2021);
            chartNamY = await doanhThuService.GetDoanhThuNam(2022);
            //
            chartQuyX = await doanhThuService.GetDoanhThuQuy(2021);
            chartQuyY = await doanhThuService.GetDoanhThuQuy(2022);
            StateHasChanged();

        }
    }
    protected override async void OnInitialized()
    {
        chartNamX = await doanhThuService.GetDoanhThuNam(2021);
        chartNamY = await doanhThuService.GetDoanhThuNam(2022);
        chartQuyX = await doanhThuService.GetDoanhThuQuy(2021);
        chartQuyY = await doanhThuService.GetDoanhThuQuy(2022);
    }
    string FormatAsVND(object value)
    {
        return ((double)value).ToString("#,###", CultureInfo.CreateSpecificCulture("vi-VN"));
    }
    //Set doanh thu nam X
    private async Task CreateDoanhThuThang1_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 1", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 1";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_1_NamX();
            await doanhThuService.EditByYear("Tháng 1", 2021, thang.Id ,doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang2_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 2", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 2";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_2_NamX();
            await doanhThuService.EditByYear("Tháng 2", 2021,thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang3_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 3", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 3";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_3_NamX();
            await doanhThuService.EditByYear("Tháng 3", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang4_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 4", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 4";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_4_NamX();
            await doanhThuService.EditByYear("Tháng 4", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang5_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 5", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 5";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_5_NamX();
            await doanhThuService.EditByYear("Tháng 5", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang6_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 6", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 6";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_6_NamX();
            await doanhThuService.EditByYear("Tháng 6", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang7_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 7", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 7";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_7_NamX();
            await doanhThuService.EditByYear("Tháng 7", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang8_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 8", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 8";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_8_NamX();
            await doanhThuService.EditByYear("Tháng 8", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang9_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 9", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 9";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_9_NamX();
            await doanhThuService.EditByYear("Tháng 9", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang10_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 10", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 10";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_10_NamX();
            await doanhThuService.EditByYear("Tháng 10", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang11_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 11", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 11";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_11_NamX();
            await doanhThuService.EditByYear("Tháng 11", 2021, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang12_NamX()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 12", 2021);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 12";
            doanhThuNam.Nam = 2021;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_12_NamX();
            await doanhThuService.EditByYear("Tháng 12", 2021, thang.Id, doanhThuNam);
        }
    }
    //Set doanh thu nam Y
    private async Task CreateDoanhThuThang1_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 1", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 1";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_1_NamY();
            await doanhThuService.EditByYear("Tháng 1", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang2_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 2", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 2";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_2_NamY();
            await doanhThuService.EditByYear("Tháng 2", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang3_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 3", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 3";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_3_NamY();
            await doanhThuService.EditByYear("Tháng 3", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang4_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 4", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 4";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_4_NamY();
            await doanhThuService.EditByYear("Tháng 4", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang5_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 5", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 5";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_5_NamY();
            await doanhThuService.EditByYear("Tháng 5", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang6_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 6", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 6";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_6_NamY();
            await doanhThuService.EditByYear("Tháng 6", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang7_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 7", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 7";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_7_NamY();
            await doanhThuService.EditByYear("Tháng 7", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang8_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 8", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 8";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_8_NamY();
            await doanhThuService.EditByYear("Tháng 8", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang9_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 9", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 9";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_9_NamY();
            await doanhThuService.EditByYear("Tháng 9", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang10_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 10", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 10";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_10_NamY();
            await doanhThuService.EditByYear("Tháng 10", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang11_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 11", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 11";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_11_NamY();
            await doanhThuService.EditByYear("Tháng 11", 2022, thang.Id, doanhThuNam);
        }
    }
    private async Task CreateDoanhThuThang12_NamY()
    {
        var thang = await doanhThuService.GetDoanhThuNamByID("Tháng 12", 2022);
        if (thang != null)
        {
            doanhThuNam.Thang = "Tháng 12";
            doanhThuNam.Nam = 2022;
            doanhThuNam.Id = thang.Id;
            doanhThuNam.DoanhThu = PriceMonth_12_NamY();
            await doanhThuService.EditByYear("Tháng 12", 2022, thang.Id, doanhThuNam);
        }
    }
    //Create doanh thu by quy
    private async Task CreateDoanhThuQuy1_NamX()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 1", 2021);
        if(quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_1_NamX();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy2_NamX()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 2", 2021);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_2_NamX();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy3_NamX()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 3", 2021);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_3_NamX();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy4_NamX()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 4", 2021);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_4_NamX();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    //Doanh thu quy Nam Y
    private async Task CreateDoanhThuQuy1_NamY()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 1", 2022);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_1_NamY();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy2_NamY()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 2", 2022);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_2_NamY();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy3_NamY()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 3", 2022);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_3_NamY();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }
    private async Task CreateDoanhThuQuy4_NamY()
    {
        var quy = await doanhThuService.GetDoanhThuQuyByID("Quý 4", 2022);
        if (quy != null)
        {
            doanhThuQuy.Id = quy.Id;
            doanhThuQuy.Quy = quy.Quy;
            doanhThuQuy.Nam = quy.Nam;
            doanhThuQuy.DoanhThu = PriceInQuy_4_NamY();
            await doanhThuService.EditByQuy(quy.Id, quy.Quy, quy.Nam, doanhThuQuy);
        }
    }

    //Doanh thu nam X
    public int PriceMonth_1_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 1 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_2_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 2 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_3_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 3 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_4_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 4 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_5_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 5 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_6_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 6 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_7_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 7 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_8_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 8 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_9_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 9 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_10_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 10 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_11_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 11 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_12_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 12 && temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    //Doanh thu nam Y
    public int PriceMonth_1_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 1 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_2_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 2 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_3_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 3 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_4_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 4 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_5_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 5 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_6_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 6 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_7_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 7 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_8_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 8 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_9_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 9 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_10_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 10 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_11_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 11 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceMonth_12_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 12 && temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    //Doanh thu quy cua nam Y
    public int PriceInQuy_1_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 1 || temp.Thoigian.Month == 2 || temp.Thoigian.Month == 3).Where(temp => temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_2_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 4 || temp.Thoigian.Month == 5 || temp.Thoigian.Month == 6).Where(temp => temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_3_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 7 || temp.Thoigian.Month == 8 || temp.Thoigian.Month == 9).Where(temp => temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_4_NamY()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 10 || temp.Thoigian.Month == 11 || temp.Thoigian.Month == 12).Where(temp => temp.Thoigian.Year == 2022).Sum(temp => temp.TongDdh);
        return pri;
    }
    //Doanh thu quy cua nam X
    public int PriceInQuy_1_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 1 || temp.Thoigian.Month == 2 || temp.Thoigian.Month == 3).Where(temp => temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_2_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 4 || temp.Thoigian.Month == 5 || temp.Thoigian.Month == 6).Where(temp => temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_3_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 7 || temp.Thoigian.Month == 8 || temp.Thoigian.Month == 9).Where(temp => temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
    public int PriceInQuy_4_NamX()
    {
        var pri = dondatList.Where(temp => temp.Thoigian.Month == 10 || temp.Thoigian.Month == 11 || temp.Thoigian.Month == 12).Where(temp=>temp.Thoigian.Year == 2021).Sum(temp => temp.TongDdh);
        return pri;
    }
}