@page "/Detail/{id}"
@using Model
@using Model.DataDB
@using Web_Client.Services
@inject IJSRuntime JS
@inject NavigationManager NavigationManager



<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            @*<div class="bstore-breadcrumb">
            <a href="index.html">HOMe<span><i class="fa fa-caret-right"></i> </span> </a>
            <span> <i class="fa fa-caret-right"> </i> </span>
            <a href="shop-gird.html"> women </a>
            <span> Faded Short Sleeves T-shirt </span>
            </div>*@
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!-- SINGLE-PRODUCT-DESCRIPTION START -->
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                    <div class="single-product-view">
                        <!-- Tab panes -->

                        <div class="tab-content">


                            <div class="tab-pane active" id="thumbnail_1">
                                <div class="single-product-image">
                                    <img src="/img/product/sale/@sanpham.HaBia" alt="single-product-image" width="458" height="458" />
                                    <a class="new-mark-box" href="#">new</a>
                                    <a class="fancybox" href="/img/product/sale/@sanpham.HaBia" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
                                </div>
                            </div>




                            <div class="tab-pane" id="thumbnail_2">
                                <div class="single-product-image">
                                    <img src="/img/product/sale/@sanpham.Ha1" alt="single-product-image" width="458" height="458" />
                                    <a class="new-mark-box" href="#">new</a>
                                    <a class="fancybox" href="/img/product/sale/@sanpham.Ha1" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
                                </div>
                            </div>


                            <div class="tab-pane" id="thumbnail_3">
                                <div class="single-product-image">
                                    <img src="/img/product/sale/@sanpham.Ha2" alt="single-product-image" width="458" height="458" />
                                    <a class="new-mark-box" href="#">new</a>
                                    <a class="fancybox" href="/img/product/sale/@sanpham.Ha2" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="select-product">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs select-product-tab bxslider">
                            <li class="active">

                                <a href="#thumbnail_1" data-toggle="tab"><img src="/img/product/sale/@sanpham.HaBia" height="80" width="80" alt="pro-thumbnail" /></a>


                            </li>
                            <li>

                                <a href="#thumbnail_2" data-toggle="tab"><img src="/img/product/sale/@sanpham.Ha1" height="80" width="80" alt="pro-thumbnail" /></a>


                            </li>
                            <li>

                                <a href="#thumbnail_3" data-toggle="tab"><img src="/img/product/sale/@sanpham.Ha2" height="80" width="80" alt="pro-thumbnail" /></a>


                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                    <div class="single-product-descirption">
                        <h2>@sanpham.TenSp</h2>
                        <div class="single-product-social-share">
                            <ul>
                                <li><a href="#" class="twi-link"><i class="fa fa-twitter"></i>Tweet</a></li>
                                <li><a href="#" class="fb-link"><i class="fa fa-facebook"></i>Share</a></li>
                                <li><a href="#" class="g-plus-link"><i class="fa fa-google-plus"></i>Google+</a></li>
                                <li><a href="#" class="pin-link"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                            </ul>
                        </div>
                        <div class="single-product-review-box">
                            <div class="rating-box">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-empty"></i>
                            </div>
                            <div class="read-reviews">
                                <a href="#">Read reviews (1)</a>
                            </div>
                            <div class="write-review">
                                <a href="#">Write a review</a>
                            </div>
                        </div>
                        <div class="single-product-condition">
                            <p>Thương hiệu: <span>@sanpham.TenHsx</span></p>
                            <p>Thời gian bảo hành: <span>@sanpham.Baohanh tháng</span></p>
                        </div>
                        <div class="single-product-price">
                            <h2>@sanphamservice.FormatVND(sanpham.GiaSp) </h2>
                        </div>
                        <div class="single-product-desc">
                            <p>@sanpham.Mota</p>
                            <div class="product-in-stock">
                                <p>300 Items<span>In stock</span></p>
                            </div>
                        </div>
                        <div class="single-product-info">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-print"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                        </div>





                        <div class="single-product-add-cart">
                            <button class="add-cart-text" onclick="AddCart()">Add To Cart</button>
                            @*<script>
                            function AddCart() {
                            var url = "/Sanphams/addCart/@Context.Session.GetString("MaSP")";
                            location.href = url;
                            }
                            </script>*@
                        </div>


                    </div>
                </div>
            </div>
            <!-- SINGLE-PRODUCT-DESCRIPTION END -->
        </div>
    </div>
</div>






@code {
    [Parameter]
    public string id { get; set; }
    SanphamService sanphamservice = new SanphamService();
    Sanpham_Model sanpham = new Sanpham_Model();

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            sanpham = await sanphamservice.GetProduct(id);
        }
        catch (Exception ex) 
        {

        }
    }

