@page "/Nhanvien/Create"
@inject IJSRuntime JS
@using Model
@using Model.DataDB
@using Model.Dto
@using Web_Admin_Client.Service
@inject NavigationManager NavigationManager
@inject IToastService toastService


<EditForm Model="nhanvien">
    <form class="forms-sample">

        <div class="form-group">
            <label for="example">Họ tên nhân viên</label>
            <InputText class="form-control" placeholder="Nguyễn Văn A" @bind-Value="nhanvien.HtenNv" @ref=tennv></InputText>
        </div>
        <div class="form-group">
            <label for="example1">Giới tính</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="nhanvien.GtNv" @ref=gioitinh>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="example">Ngày sinh</label>
            <InputDate class="form-control" placeholder="" @bind-Value="@_ngaysinh" format-value="yyyy-MM-dd"></InputDate>
        </div>
        <div class="form-group">
            <label for="example">Lương nhân viên</label>
            <InputNumber class="form-control" placeholder="" @bind-Value="nhanvien.LuongNv" @ref=luongnv></InputNumber>
        </div>
        <div class="form-group">
            <label for="example">Chức vụ</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="nhanvien.ChucvuNv" @ref=chucvunv>
                <option value="nhân viên">Nhân viên</option>
                <option value="quản lý">Quản lý</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="example">Địa chỉ nhân viên</label>
            <InputText class="form-control" placeholder="" @bind-Value="nhanvien.DcNv" @ref=diachi></InputText>
        </div>
        <div class="form-group">
            <label for="example">Tài khoản nhân viên</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="nhanvien.TenTk" @ref=newtaikhoan>
                @foreach (var item in taikhoan)
                {
                    <option value="@item.TenTk">@item.TenTk</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="example">Nơi làm việc</label>
            <InputSelect class="form-select" placeholder="" @bind-Value="nhanvien.MaCh" @ref=newcuahang>
                @foreach (var item in cuahang)
                {
                    <option value="@item.MaCh">@item.TenCh</option>
                }
            </InputSelect>
        </div>
    </form>
    <button type="button" class="btn btn-gradient-primary" @onclick="Create_Sanpham" style="margin-left:19%">Lưu</button>
    <button type="button" class="btn btn-gradient-primary" data-dismiss="modal" @onclick="Close" style="margin-left:19%">Hủy</button>
</EditForm>


@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private async void Close()
    {
        await this.ModalInstance.CancelAsync();
    }

    [Parameter]
    public string id { get; set; }
    private NhanvienDto nhanvien = new NhanvienDto();
    private NhanvienDto nhanvienCheck = new NhanvienDto();
    private List<Nhanvien> nhanvienCount = new List<Nhanvien>();
    private List<Nhanvien> nhanvienList = new List<Nhanvien>();
    NhanvienService nhanvienService = new NhanvienService();

    private List<TaikhoanDto> taikhoan = new List<TaikhoanDto>();
    TaiKhoanService taiKhoanService = new TaiKhoanService();

    private List<Cuahang> cuahang = new List<Cuahang>();
    CuahangService cuahangService = new CuahangService();

    Khachhang khachhang = new Khachhang();
    List<Khachhang> khachhangList = new List<Khachhang>();
    KhachHangService khachHangService = new KhachHangService();

    private InputText tennv;
    private InputText chucvu;
    private InputText diachi;
    private InputNumber<int> luongnv;
    private InputSelect<string> newcuahang;
    private InputSelect<string> newtaikhoan;
    private InputSelect<string> chucvunv;
    private InputSelect<string> gioitinh;


    private DateTime ngaysinh;
    public DateTime _ngaysinh {
        get { return ngaysinh; }
        set { ngaysinh = value; }
    }
    private int Quantily_NV { get; set; }
    private int Ma_NV { get; set; }
    private int temp { get; set; }
    private int count { get; set; }
    private string idnv { get; set; }

    protected override async Task OnInitializedAsync()
    {

        taikhoan = await taiKhoanService.GetListTaikhoanById("no");
        cuahang = await cuahangService.GetListCuahang();

        count = cuahang.Count;
        nhanvienCount = await nhanvienService.GetCountNhanvien();
        Quantily_NV = nhanvienCount.Count;
        Ma_NV = Quantily_NV + 1;
        idnv = ("NV" + Ma_NV).ToString();
        _ngaysinh = DateTime.Now;
    }

    private async void Create_Sanpham()
    {
        int countListTK;
        countListTK = taikhoan.Count();
        try
        {
            nhanvien = await nhanvienService.GetNhanvien(idnv);
            if (nhanvien != null)
            {
                nhanvien.MaNv = ("NV" + (Ma_NV + 2)).ToString();
                nhanvien.HtenNv = tennv.Value;
                nhanvien.DcNv = diachi.Value;
                nhanvien.GtNv = gioitinh.Value;
                nhanvien.LuongNv = luongnv.Value;
                if(countListTK == 1)
                {
                    foreach(var item in taikhoan)
                    {
                        nhanvien.TenTk = item.TenTk;
                    }
                }
                else
                {
                    nhanvien.TenTk = newtaikhoan.Value;
                }
                
                nhanvien.MaCh = "CH01";
                if (chucvunv.Value == null)
                    nhanvien.ChucvuNv = "nhân viên";
                else 
                    nhanvien.ChucvuNv = chucvunv.Value;
                nhanvien.NsNv = _ngaysinh;
                await nhanvienService.CreateNhanvien(nhanvien);
                NavigationManager.NavigateTo("/Taikhoan/Index");
                NavigationManager.NavigateTo("/Nhanvien/Index");
                toastService.ShowSuccess("Thêm thành công", "Thành công !");
            }
        }
       catch(Exception ex)
       {
                nhanvien.MaNv = ("NV" + Ma_NV).ToString();
                nhanvien.HtenNv = tennv.Value;
                nhanvien.DcNv = diachi.Value;
                nhanvien.GtNv = gioitinh.Value;
                nhanvien.LuongNv = luongnv.Value;
                if (countListTK == 1)
                {
                    foreach (var item in taikhoan)
                    {
                        nhanvien.TenTk = item.TenTk;
                    }
                }
                else
                {
                    nhanvien.TenTk = newtaikhoan.Value;
                }
                nhanvien.MaCh = newcuahang.Value;
                if (chucvunv.Value == null)
                    nhanvien.ChucvuNv = "nhân viên";
                else 
                    nhanvien.ChucvuNv = chucvunv.Value;
                nhanvien.NsNv = _ngaysinh;
                await nhanvienService.CreateNhanvien(nhanvien);
                NavigationManager.NavigateTo("/Taikhoan/Index");
                NavigationManager.NavigateTo("/Nhanvien/Index");
                toastService.ShowSuccess("Thêm thành công", "Thành công !");
       }
       
    }
}
