@page "/"
@inject IJSRuntime JS
@layout MainLayout
@using System.Globalization
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using Blazored.Modal.Services
@using Model
@using Model.DataDB
@using Model.Dto
@using Models.Page
@using Web_Admin_Client.Pages.Modal
@using Web_Admin_Client.Pages.Sanpham
@using Web_Admin_Client.Service
@inject NavigationManager NavigationManager;
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Trang thống kê
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Tổng doanh thu <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@tonkhoService.FormatVND(tongdoanhthu) VND</h2>
                        <h6 class="card-text">Số sản phẩm bán: @tongsanphambanduoc</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Số sản phẩm tồn kho <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@tongsanphamtonkho</h2>
                        <h6 class="card-text">Tổng giá: @tonkhoService.FormatVND(giatongsanphamtonkho) VND</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Số lượng sản phẩm đã bán <i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@tongsanphambanduoc</h2>
                        <h6 class="card-text">Giá trị: @tonkhoService.FormatVND(giasoluongsanphamdaban) VND</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thong ke -->
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sản phẩm tồn kho</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Tên sản phẩm </th>
                                        <th> Tên cửa hàng </th>
                                        <th> Số lượng tồn kho </th>
                                        <th> Tổng giá tồn kho </th>
                                        <th> Tình trạng </th>
                                    </tr>
                                </thead>
                                @foreach (var item in tonkho)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="@urlImage/images/@item.HaBia" class="me-2" alt="image"> @item.TenSp
                                            </td>
                                            <td> @item.TenCh </td>
                                            <td> @item.Sl </td>
                                            <td> @tonkhoService.FormatVND(item.Dg) VND </td>
                                            @if(item.Sl == 0)
                                            {
                                                <td>
                                                    <label class="badge badge-gradient-danger">HẾT</label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <label class="badge badge-gradient-success">CÒN</label>
                                                </td>
                                            }
                                            
                                        </tr>
                                    </tbody>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
            <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->
@code{
    string urlImage = "https://localhost:7268";
    private List<ThongKeDto> tonkho = new List<ThongKeDto>();
    TonkhoService tonkhoService = new TonkhoService();

    private List<CtDdh> dondathang = new List<CtDdh>();
    CTDonDatHangService cTDonDatHangService = new CTDonDatHangService();
    private int tongdoanhthu { get; set; }
    private int tongsanphamtonkho { get; set; }
    private int tongsanphambanduoc { get; set; }
    private int giatongsanphamtonkho { get; set; }
    private int soluongsanphamtonkho { get; set; }
    private int giasoluongsanphamdaban { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            tonkho = await tonkhoService.GetListTonkho();
            dondathang = await cTDonDatHangService.GetCtDDH();
            tongdoanhthu = dondathang.Sum(item => item.Dg);
            tongsanphambanduoc = dondathang.Sum(item => item.Sl);

            tongsanphamtonkho = tonkho.Sum(item => item.Sl);
            giatongsanphamtonkho = tonkho.Sum(item => item.Dg);

            soluongsanphamtonkho = tonkho.Count();
            giasoluongsanphamdaban = tonkho.Sum(item => item.Dg);
        }
        catch (Exception ex) {
            Console.WriteLine(ex.ToString());
        }
        
    }
    
}