@page "/Sanpham/Kinh"
@using Model
@using Model.DataDB
@using Web_Client.Services
@inject IJSRuntime JS
@layout MainLayout
@using System.Globalization



<!-- Navbar End -->
<!-- Carousel Start -->
<Carousel />
<!-- Carousel End -->
<!-- Featured Start -->
<Featured />
<!-- Featured End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Kính mát thời trang</span></h2>
    <div class="row px-xl-5">
        @foreach (var item in sanpham)
        {
            @if (item.MaLoai == "L04")
            {
                @if (item.Thoigian.Date == DateTime.Now.Date)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <h6 style="color: red;position: absolute;top: 2px;">Đã hết thời gian khuyến mãi </h6>
                                <img class="img-fluid w-100" src="@urlimage/images/@item.HaBia" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" @*href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)" *@><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@item.TenSp</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 class="text-muted ml-2"><del> @sanphamservice.FormatVND(item.GiaSp) VND </del></h5>&nbsp;&nbsp;&nbsp<h6 style="color:red ;">-0%</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 style="color:red;">@sanphamservice.FormatVND(item.GiaSp) VND</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (item.Thoigian.Date < DateTime.Now.Date)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <h6 style="color: red;position: absolute;top: 2px;">Đã hết thời gian khuyến mãi </h6>
                                <img class="img-fluid w-100" src="@urlimage/images/@item.HaBia" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@item.TenSp</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 class="text-muted ml-2"><del> @sanphamservice.FormatVND(item.GiaSp) VND </del></h5>&nbsp;&nbsp;&nbsp<h6 style="color:red ;">-0%</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 style="color:red;">@sanphamservice.FormatVND(item.GiaSp) VND</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (item.Thoigian.Date > DateTime.Now.Date)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <h6 style="color: red;position: absolute;top: 2px;">Khuyến mãi còn @(item.Thoigian.DayOfYear - DateTime.Now.DayOfYear) ngày đến @item.Thoigian.Day/@item.Thoigian.Month/@item.Thoigian.Year </h6>
                                <img class="img-fluid w-100" src="@urlimage/images/@item.HaBia" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/Detail/@sanphamservice.EndCodeMd5(item.MaSp)"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@item.TenSp</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 class="text-muted ml-2"><del> @sanphamservice.FormatVND(item.GiaSp) VND </del></h5>&nbsp;&nbsp;&nbsp<h6 style="color:red ;">@FormatTile(item.Tile)</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 style="color:red;">@sanphamservice.FormatVND(item.GiaSp-(item.GiaSp*item.Tile)) VND</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<!-- Products End -->
<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="content/img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="content/img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    string urlimage = "https://localhost:7268";
    List<Sanpham_Model> sanpham = new List<Sanpham_Model>();


    SanphamService sanphamservice = new SanphamService();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sanpham = await sanphamservice.GetAllProduct();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }
    private string FormatTile(double tile)
    {
        var temp = tile * 100;
        return ("-" + temp + "%").ToString();
    }
}
