@page
@model Web_Admin_Client.Pages.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.TenSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.TenSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.GiaSp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.GiaSp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Baohanh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Baohanh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Mota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Mota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.MaHsxNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.MaHsxNavigation.MaHsx)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.MaLoaiNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.MaLoaiNavigation.MaLoai)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sanpham.MaSp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
